* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

header {
    height: 10%;
    background-color: #244f26;
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    font-size: 50pt; 
    color: #1efc1e;
    margin-left: 30px;
 }

main {
    height: 80%;
    display: flex;
}

.left {
    width: 20%;
    flex: 1 1 auto;
    background-color: #256d1b;
}

.middle {
    flex: auto;
    width: 60%;
    background-color: #149911;
}

.right {
    width: 20%;
    flex: 1 1 auto;
    background-color: #256d1b;
}

footer {
    height: 10%;
    background-color: #244f26;
}